[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "<3"
colorama = "<1"
jsonschema = "<5"
psutil = "<6"
pyyaml = "<7"

[dev-packages]
pip = "*"
pipenv = "*"
setuptools = "*"
wheel = "*"
build = "*"
twine = "*"
pytest = "*"
pytest-mock = "*"
requests-mock = "*"
tblib = "*"
coverage = "*"
black = "*"
flake8 = "*"
flake8-bugbear = "*"
flake8-black = "*"
flake8-comprehensions = "*"
flake8-annotations-coverage = "*"
flake8-unused-arguments = "*"
mypy = "*"
pylint = "*"
pydocstyle = "*"

[requires]
python_version = "3.9"
