requests==2.31.0
psutil==5.9.8
dateparser==1.2.0
humanize==4.9.0
tzdata==2024.1
colorama==0.4.6
PyYAML==6.0.1
boltons==24.0.0
click==8.1.7
beartype==0.18.5
importlib-resources
importlib-metadata
backports.zoneinfo[tzdata];python_version<"3.9"