requests==2.31.0
psutil==5.9.4
dateparser==1.1.3
humanize==4.4.0
tzdata==2022.6
colorama==0.4.5
PyYAML==6.0
boltons==21.0.0
click==8.1.3
beartype==0.10.4
importlib_metadata; python_version<"3.8"
backports.zoneinfo[tzdata];python_version<"3.9"